In [1]:
import pandas as pd

In [88]:
%run -i csv_create.py

In [89]:
df_new = pd.read_csv("data/train_final.csv",header=None)
df_new.columns = ["id"]
df_new[["id","jpg"]] = df_new["id"].str.split('.',expand=True)
df_new = df_new.drop("jpg",axis=1)

In [90]:
df_tr = pd.read_csv("data/train.csv")

In [91]:
df_tr.head()

,id,url,landmark_id
0,cacf8152e2d2ae60,http://static.panoramio.com/photos/original/70...,4676
1,0a58358a2afd3e4e,http://lh6.ggpht.com/-igpT6wu0mIA/ROV8HnUuABI/...,6651
2,6b2bb500b6a38aa0,http://lh6.ggpht.com/-vKr5G5MEusk/SR6r6SJi6mI/...,11284
3,b399f09dee9c3c67,https://lh3.googleusercontent.com/-LOW2cjAqubA...,8429
4,19ace29d77a5be66,https://lh5.googleusercontent.com/-tnmSXwQcWL8...,6231

In [107]:
df_tr.sort_values("id").head()

,id,url,landmark_id
1084153,00001106ce16f5fc,https://lh4.googleusercontent.com/-u5D3Zy6lNvU...,10728
971726,0000222a89e243df,http://lh4.ggpht.com/-6PRrtcj7K3E/S-ZUdNuZ5QI/...,3748
636656,00003092db9c8d35,https://lh4.googleusercontent.com/-UuTQ63oPC8k...,6599
575342,000036547d852a99,http://lh3.ggpht.com/-9ym3SwHJD2M/TkKo6P8MV0I/...,12630
549681,00004d453fd979d0,http://lh5.ggpht.com/-c6__1Zi2spo/TP9u_MHhFnI/...,6901

In [108]:
df_new.sort_values("id").head()

                 id
0  00001b917fe62185
1  00002469b818f290
2  0000298d976221f3
3  00002e4e382333bf
4  000036329c35b65c

In [92]:
df_tr.shape

(1225029, 3)

In [93]:
df_new.shape

(1091756, 1)

In [95]:
USERS = df_tr
EXCLUDE = df_new

In [94]:
df_new.head()

                 id
0  00001b917fe62185
1  00002469b818f290
2  0000298d976221f3
3  00002e4e382333bf
4  000036329c35b65c

In [98]:
print (USERS[~USERS.id.isin(EXCLUDE.id)].shape)

(1225029, 3)

In [99]:
df = pd.merge(USERS, EXCLUDE, how='outer', indicator=True)

In [106]:
df.shape

(2316785, 4)

In [100]:
df.head()

,id,url,landmark_id,_merge
0,cacf8152e2d2ae60,http://static.panoramio.com/photos/original/70...,4676.0,left_only
1,0a58358a2afd3e4e,http://lh6.ggpht.com/-igpT6wu0mIA/ROV8HnUuABI/...,6651.0,left_only
2,6b2bb500b6a38aa0,http://lh6.ggpht.com/-vKr5G5MEusk/SR6r6SJi6mI/...,11284.0,left_only
3,b399f09dee9c3c67,https://lh3.googleusercontent.com/-LOW2cjAqubA...,8429.0,left_only
4,19ace29d77a5be66,https://lh5.googleusercontent.com/-tnmSXwQcWL8...,6231.0,left_only

In [105]:
df.loc[df._merge == 'right_only', ['id']].shape

(1091756, 1)