In [2]:
import pandas as pd

In [3]:
%run -i csv_create.py

In [4]:
df_new = pd.read_csv("sample/train_final.csv",header=None)
df_new.columns = ["id"]
df_new[["id","jpg"]] = df_new["id"].str.split('.',expand=True)
df_new = df_new.drop("jpg",axis=1)

In [5]:
df_tr = pd.read_csv("sample/sample_train.csv")

In [6]:
df_new.head()

                 id
0  ab91c5915f26b679
1  31df7efc90391b9a
2  e2e7874a1a65b7a1
3  3060f5f75d936abb
4  45f4f20e31c9bcd6

In [7]:
df_tr.head()

,id,url,landmark_id
0,cacf8152e2d2ae60,http://static.panoramio.com/photos/original/70...,4676
1,0a58358a2afd3e4e,http://lh6.ggpht.com/-igpT6wu0mIA/ROV8HnUuABI/...,6651
2,6b2bb500b6a38aa0,http://lh6.ggpht.com/-vKr5G5MEusk/SR6r6SJi6mI/...,11284
3,b399f09dee9c3c67,https://lh3.googleusercontent.com/-LOW2cjAqubA...,8429
4,19ace29d77a5be66,https://lh5.googleusercontent.com/-tnmSXwQcWL8...,6231

In [8]:
df_tr.sort_values("id").head()

,id,url,landmark_id
743,00010a9d72c54031,http://lh4.googleusercontent.com/-N6uRFDAYr3A/...,13170
139,005fae73a3481e72,https://lh4.googleusercontent.com/-I0ZRaqrKyhk...,8317
927,007ff15367dbc69b,http://lh6.ggpht.com/-0ABE6ckiS9I/STTKR0Oq1fI/...,4671
335,008a9d55dbc26097,https://lh4.googleusercontent.com/-3QkcaFRP0Qg...,129
672,00ef28e18b25c598,https://lh6.googleusercontent.com/--C5JvlcdfA4...,6599

In [9]:
df_new.sort_values("id").head()

                   id
538  00010a9d72c54031
224  005fae73a3481e72
177  008a9d55dbc26097
695  00ef28e18b25c598
705  0125e42f1fac3cab

In [10]:
df_tr.shape

(999, 3)

In [11]:
df_new.shape

(746, 1)

In [12]:
USERS = df_tr
EXCLUDE = df_new

In [13]:
df_new.head()

                 id
0  ab91c5915f26b679
1  31df7efc90391b9a
2  e2e7874a1a65b7a1
3  3060f5f75d936abb
4  45f4f20e31c9bcd6

In [14]:
print (USERS[~USERS.id.isin(EXCLUDE.id)].shape)

(253, 3)

In [15]:
df = pd.merge(USERS, EXCLUDE, how='outer', indicator=True)

In [16]:
df.shape

(999, 4)

In [17]:
df.head()

,id,url,landmark_id,_merge
0,cacf8152e2d2ae60,http://static.panoramio.com/photos/original/70...,4676,both
1,0a58358a2afd3e4e,http://lh6.ggpht.com/-igpT6wu0mIA/ROV8HnUuABI/...,6651,both
2,6b2bb500b6a38aa0,http://lh6.ggpht.com/-vKr5G5MEusk/SR6r6SJi6mI/...,11284,both
3,b399f09dee9c3c67,https://lh3.googleusercontent.com/-LOW2cjAqubA...,8429,both
4,19ace29d77a5be66,https://lh5.googleusercontent.com/-tnmSXwQcWL8...,6231,both

In [22]:
df_final=df.loc[df._merge == 'both', ['id','url','landmark_id']]

In [23]:
df_final.head()

,id,url,landmark_id
0,cacf8152e2d2ae60,http://static.panoramio.com/photos/original/70...,4676
1,0a58358a2afd3e4e,http://lh6.ggpht.com/-igpT6wu0mIA/ROV8HnUuABI/...,6651
2,6b2bb500b6a38aa0,http://lh6.ggpht.com/-vKr5G5MEusk/SR6r6SJi6mI/...,11284
3,b399f09dee9c3c67,https://lh3.googleusercontent.com/-LOW2cjAqubA...,8429
4,19ace29d77a5be66,https://lh5.googleusercontent.com/-tnmSXwQcWL8...,6231

In [24]:
print(df_final.shape)

(746, 3)

In [25]:
df_final.to_csv("sample/train_clean.csv")